/*头部*/
   .header{
   	height: 134px;
   	width: 100%;
   	font-size:14px;
   }
    .header_top .header_c{
    	width: 1016px;
    	margin-left: auto;
	    margin-right: auto;
    }
    .header_bottom .header_c{
    	width: 1016px;
    	margin-left: auto;
    	height: 104px;
	    margin-right: auto;
    }
    .header_top .header_c p{
     	float: right;
     	line-height: 30px;
     	color:#555555;
     }
    .header_top{
    	height: 30px;
    	width: 100%;
    	background-color: #DCDCDC;
    }
    .header_bottom{
    	height: 104px;
    	width: 100%;
    }
    .header_bottom h3{
    	font-size:46px;
    	width: 202px;
    	padding-top: 19px;
    	font-weight: normal;
    	font-family: "Microsoft YaHei";
      float: left;
          }
     .header_bottom p{
     	height: 10px;
     	font-size:8px;
     	line-height: 10px;
     	padding-left: 5px;
      float: left;
      margin-top: -10px;
     }
     .header_bottom ul{
     	padding-top: 55px;
     	padding-left: 15px;
     	position: relative;
      height: 40px;
     }
     .header_bottom ul li{
     float: left;
     width: 105px;
     height: 12px;
     line-height: 12px;
    }
    .header_bottom  li a{
      color:#000;
    }
    .header_bottom .l1{
    	width: 210px;
    }
     .header_bottom .l2{
     	width: 122px;
     	height: 162px;
     	left: 304px;
     	position: absolute;
     	z-index: 99;
     }
     .header_bottom .l2 a{
     	color:#000;
     }

     .header_bottom .l2 .hide{
     	width: 100px;
     	height: 148px;
     	background: rgba(255,255,255,.2);
      display: none;  
      margin-left: -19px;
     }

     .header_bottom .l2 .hide p{
     	width: 103px;
     	font-size:14px;
     	color:#0368A1;
      margin-top: 25px;
     }
     .header_bottom .hide a{
      color:#0368A1;
      text-align: center;
      padding-left: 14px;
      width: 103px;
     }
/*轮播*/
	.routhing{
		width: 1519px;
		height: 400px;
		overflow: hidden;
		position: relative;
		margin-bottom: 119px;
            margin-left: auto;
    margin-right: auto;
	}
	.routhing li img{
		width: 100%;
		height: 400px;
	}
	.routhing ul{
		width: 300%;
		position: absolute;
		left: 0;
		top: 0;
		transition: 1s  linear;
	}
	.routhing li{
		width: 1519px;
		height: 400px;
		float: left;
	}
	.routhing em{
		width: 10px;
		height: 5px;
		border-radius: 2px;
		display: inline-block;
		background: #FFF;
		margin: 0 5px;
	}
	.routhing p{
		position:absolute;
		left: 90%;
		bottom:10px;
	}
	.routhing p .active{
		background: red;
	}
	.routhing a{
		padding: 15px;
		border-color:rgba(0,0,0,.5);
		color:#FFF;
		text-decoration: none;
		font-size:20px;
	}
	.routhing p .active{
		background: red;
	}


.content1{
	height: 442px;
	background-color: rgba(0,0,0,.5);
	color: white;
	margin-top: 78px;
}
.content1 h3{
	margin-top: 17px;
}
.content1 h6{
	font-size: 17px;
	font-weight: normal;
	margin-left: 37px;
	margin-top: 7px;
}
.content1 p{
	margin-left: 68px;
	font-size: 14px;
	line-height: 36px;
}
.content2 h3{
	margin-top: 43px;
}
.content1 h3,.content2 h3{
	text-align: center;
	font-size: 36px;
}
.content2{
	height: 1650px;
	background-color: rgba(0,0,0,.5);
	color: white;
	margin-top: 31px;
	font-size: 14px;
}
.content2 img{
	width: 800px;
	height: 400px;
}
.content2 img.xiuli{
	width: 800px;
	height: 320px;
}
.content2 div{
	border-bottom: 1px solid white;
	width: 983px;
	margin-left: 37px;
	margin-top: 60px;
	padding-bottom: 40px;
}
.content2 div p{
	margin: 8px 0;
	margin-left: 30px;
}
.content2 div p.tit{
	margin-left: 0;
}
.foot{
	margin-top: 270px;
	text-align: center;
	font-family: "幼圆";
}
.foot p{
	line-height: 40px;
	font-size: 18px;
}
.foot h3{
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 25px;
}
.bottom{
	margin-top: 130px;
	height: 63px;
	width: 100%;
	background-color:#313131;
}
.wenzi{
	font-size: 28px;
	line-height: 63px;
	text-align: center;
	color: white;
}